*{
    margin: 0px;
    padding: 0px;
}

.container{
    border: 2px solid red;
    height: 100vh;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple 
    Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
#heading{
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
}
.parent-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.box{
    border: 2px solid black;
    width: 275px;
    height: 275px;
    margin: 0px 75px;
    border-radius: 10px;
}
#imageBox{
    background-image: url(OmJha.jpg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}